<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrační formulář</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <main class="container">
        <div id="app" class="inner-container" v-cloak>
            <h1 class="title">Registrace</h1>
            <form @submit.prevent="submitForm" class="form" novalidate>
                <input class="input--text" type="text" placeholder="Jméno" v-model="user.name">
                <input class="input--text" type="email" placeholder="Email" v-model="user.email">
                <input class="input--text" type="password" placeholder="Heslo" v-model="user.password">
                <input class="input--text" type="password" placeholder="Ověření hesla" v-model="user.password2">
                <div class="error-container" v-if="isError">
                    <span class="error-message" v-for="(errorMessage, index) in errorMessages" :key="index">
                        {{ errorMessage }}
                    </span>
                </div>
                <div class="btn-container">
                    <button class="btn btn--clear" @click.prevent="clearForm">Vymazat</button>
                    <button class="btn btn--submit" type="submit">Odeslat</button>
                </div>
            </form>
            <div class="confirmation" v-if="isFormSubmited">
                <h2 class="confirmation-title">Děkujeme za Vaší registraci!</h2>
                <div class="confirmation-data">
                    <span class="confirmation-data--line">
                        <strong>Vámi zadané údaje:</strong>
                    </span>
                    <span class="confirmation-data--line" v-for="(line, index) in confirmationData" :key="index">
                        <span @click="revealPassword(index)">{{ line }}</span>
                    </span>
                </div>
                <button class="btn btn--back" @click="clearForm">Zpět</button>
            </div>
        </div>
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>

</html>